@charset "UTF-8";

body {
    background-image: url(imagens/background001.jpg);
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size: 100% 100%;
}

header {
    text-align: center;
    background-color: black;
    color: white;
    margin: 0px;
    border: 0px;
    
}

header > h1 {
    font-size: 8em;
}
header a {
    color: white;
    text-decoration: none;
}
header a:hover {
    color: grey;
}

p {
    font-size: 3.5em;
}

pre {
    text-align: left;
    text-indent: 4px;
}
#d1 {
    background-color: white;
}
#d2 {
    background-color: rgba(0, 0, 0, 0.104);
    color: white;
}

#d3 {
    background-color: white;
}

#d4 {
    background-color: white;

}

#d5 {
    background-color: rgba(0, 0, 0, 0.147);
    color: white;
}
#d6 {
    background-color: white;
}
#d7 {
    background-color: white;
}


footer {
    background-color: black;
    color: white;
    text-align: center;
}
